<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Price Alert</title>
    </head>
    <body>
        <p>App to monitor prices and receive notifications if the price drops below a threshold</p>
        <p>You can do the following things in this app:</p>
        <ul>
            <li>add products to your list whose prices you want to monitor</li>
            <li>receive mail notifications if the price drops below a limit you defined</li>
            <li>view current and best prices for the products </li>
        </ul>
        <p>Your products</p>
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price_threshold</th>
                <th>url</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </body>
</html>

